VITE_SUPABASE_URL=https://kqexuurhhcacqnsahnoc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtxZXh1dXJoaGNhY3Fuc2Fobm9jIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc0NTcyNjcsImV4cCI6MjA5MzAzMzI2N30.VPgvN9RKck_HDP0bl4taiJBKvZ1Oqw7y2Z0jljwI1Hc
